body {
  background-color: #141414;
  background-image: url('https://github.com/Jeyers-Development/jdsite_assets/blob/main/bkg.png?raw=true');
  background-repeat: repeat;
}
h1 {
    color: white;
}
h2 {
    color: rgb(255, 214, 160);
}
h3 {
    color: white;
}
p {
    color: white;
}

button {
  background-color: #966b42;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #5c4127;
}

button:active {
  background-color: #382819;

}
